aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
fakeyou==1.2.5
fastapi==0.104.0
ffmpy==0.3.1
frozenlist==1.4.0
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
idna==3.4
mashumaro==3.10
multidict==6.0.4
openai==0.28.1
pika==1.3.2
protobuf==4.24.4
protobuf3-to-dict==0.1.5
pydantic==2.4.2
pydantic_core==2.10.1
pyee==11.0.1
requests==2.31.0
six==1.16.0
sniffio==1.3.0
starlette==0.27.0
TikTokLive==5.0.8
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.0.7
uvicorn==0.23.2
websockets==11.0.3
yarl==1.9.2
